/* stylelint-disable no-duplicate-selectors */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* ----------Reset and base styles---------- */

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0;
  padding: 0;
}

ol li,
ul li {
  margin: 0;
  padding: 0;
}

code,
pre,
sup,
sub {
  font-size: 0.6em;
  line-height: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* ----------fallback font---------- */

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

/* ----------main CSS styles---------- */

html {
  -webkit-font-smoothing: antialiased;
}

body {
  display: none;
  margin: 0;
}

body,html {
    font-family: var(--body-font-family);
    font-size: 62.5%;
    line-height: 1.5;
}

body.appear {
  display: block;
}

*,
::after,
::before {
    box-sizing: border-box
}

* {
    margin: 0
}

ol[role="list"],
ul[role="list"] {
    list-style: none
}

img,picture {
    display: block;
    max-width: 100%
}

.hide-visually {
    height: 0;
    overflow: hidden;
    width: 0
}

button,input,optgroup,select,textarea {
    font: inherit
}

.hide {
    display: none!important
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }

h2 { font-size: var(--heading-font-size-xl); }

h3 { font-size: var(--heading-font-size-l); }

h4 { font-size: var(--heading-font-size-m); }

h5 { font-size: var(--heading-font-size-s); }

h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

p {
    font-size: 1.6rem;
    line-height: 2rem
}

@media(width >= 744px) {
  p {
      font-size:1.6rem;
      line-height: 2.2rem
  }
}

@media(width >= 1024px) {
  p {
      font-size:1.8rem;
      line-height: 2.4rem
  }
}

/* ----------links---------- */

a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
}

/* ----------buttons---------- */

a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* ----------sections---------- */

main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* ----------section metadata---------- */

main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* --------Utilities---------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
  justify-content: left;
}

.center .button-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.desktop-only {
  display: none;
}

@media (width >= 1024px) {
  .desktop-only {
    display: inherit;
  }
}

.mobile-only {
  display: inherit;
}

@media (width >= 1024px) {
  .mobile-only {
    display: none;
  }
}

/* abbvie specific style goes here */

body {
    background-color: var(--background-color);
    color: var(--text-color);
}