/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* -----------------------------------------------------------
   PX → REM Conversion Helper
   How to use:
   - Define a base root font-size (default = 10px)
   - Use `calc(<px> * var(--px-to-rem))` to convert pixels to rem
   - Example: calc(24 * var(--px-to-rem)) = 2.4rem
----------------------------------------------------------- */
  --base-size: 10; /* 1rem = 10px */
  --px-to-rem: calc(1rem / var(--base-size));
  
    /* Colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --highlight-background-color: #F1F3FF;
  --highlight-dark-background-color:#0066F5;
  --container-border-color: #a6b5e0;
  --footer-background-color: #fafafa;
  --footer-border-color: #e1e1e1;
  --footer-text-color: #071d49;
  --text-color: #071d49; /* primary dark/nav text */
  --strong-heading: #0066f5;

  /* Alerts */
  --error-color: #cf451c;
  --warning-color: #f2dede;
  --success-color: #2f9ece;

  /* Fonts */
  --body-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --heading-font-family: 'F37 Lineca', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --icon-font-family: 'abbvie-icon';

  /* Body sizes (match abbvie breakpoints) */
  --body-font-size-m: 1.8rem;
  --body-font-size-s: 1.6rem;
  --body-font-size-xs: 1.4rem;

  /* Heading sizes */
  --heading-font-size-xxl: 6.4rem;
  --heading-font-size-xl: 5.6rem;
  --heading-font-size-l: 4.8rem;
  --heading-font-size-m: 4rem;
  --heading-font-size-s: 3.2rem;
  --heading-font-size-xs: 2.4rem;

  /* nav height (approx) */
  --nav-height: calc(72 * var(--px-to-rem));

  /* Spacing Tokens */
  --space-token-xxs: calc(8 * var(--px-to-rem));
  --space-token-xs: calc(16 * var(--px-to-rem));
  --space-token-s: calc(24 * var(--px-to-rem));
  --space-token-m: calc(32 * var(--px-to-rem));
  --space-token-l: calc(40 * var(--px-to-rem));
  --space-token-xl: calc(56 * var(--px-to-rem));
  --space-token-xxl: calc(80 * var(--px-to-rem));
  --space-token-xxxl: calc(104 * var(--px-to-rem));

  /* Separator Height */
  --separator-height-1: .1rem;
  --separator-height-8: .8rem;
  --separator-height-16: 1.6rem;
  --separator-height-24: 2.4rem;
  --separator-height-32: 3.2rem;
  --separator-height-48: 4.8rem;
  --separator-height-64: 6.4rem;
  --separator-height-80: 8rem;
  --separator-height-96: 9.6rem;
  --separator-height-112: 11.2rem;
  --separator-height-128: 12.8rem;
  --separator-height-144: 14.4rem;

  /* text transform */
  --font-uppercase: uppercase;
  --font-lowercase: lowercase;
  --font-normal: normal;

  /* Media Query */
  --bp-mobile-max: 46.4375rem;
  --bp-tablet-min: 46.5rem;
  --bp-tablet-max: 63.9375rem;
  --bp-desktop-min: 64rem;
  --bp-large-desktop-min: 90rem;

}