/* abbvie specific fonts (sourced from abbvie clientlibs) */

@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 700;
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'F37 Lineca';
	font-display: swap;
	font-weight: 650;
	src: url('../fonts/F37Lineca-Book.woff2') format('woff2');
}

@font-face {
	font-family: 'F37 Lineca';
	font-display: swap;
	font-weight: 800;
	src: url('../fonts/F37Lineca-Medium.woff2') format('woff2');
}

/* abbvie icon font */
@font-face {
	font-family: abbvie-icon;
	font-display: swap;
	font-weight: 400;
	src: url('../fonts/abbvie-icon.woff2') format('woff2');
}
